.material-symbols-outlined {
    font-size: 100px;
}
.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-left: 20px;
}
#home{
    color: grey;
}
#mail{
    color: orange;
}
#youtube_activity{
    color: red;
}
#code{
    color: green;
}
#home:hover{
    color: hsl(0, 2%, 74%);
}
#mail:hover{
    color: hsl(39, 100%, 70%);
}
#youtube_activity:hover{
    color: hsl(0, 95%, 66%);
}
#code:hover{
    color: hsl(120, 37%, 45%);
}


.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    /* flex-direction: row-reverse;
    justify-content: space-between;   align-items: flex-end; 
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em; */
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    align-self: end;
}
#box2{
    background-color: yellow;
    align-self: center;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
    order: -1;
}