body{
    margin: 0px;
    background-color: black;
}
.boxes{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    transform: translateX(30px) translate(-1px,30px) rotateX(35deg) rotateZ(45deg) scale(1,1.5);
}
#box1{
    background-color: greenyellow;
}
#box2{
    background-color: red;
}
#box3{
    background-color: lightskyblue;
}

#box{
    width:400px;
    height: 250px;
    background-color: red;
    font-size: 11em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(.47,-0.58,1,.72);
}
@keyframes slideLeft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    to{transform: translateX(300%)}
}
@keyframes slideUp{
    from{transform: translateY(300%)}
}
@keyframes slideDown{
    to{transform: translateY(300%)}
}
@keyframes rotate{
    50%{transform: rotateZ(360deg)}
}
@keyframes scaleUp{
    50%{transform: scale(2,2);}
}
@keyframes scaleDown{
    50%{transform: scale(0.5,0.5)}
}
@keyframes fade{
    50%{opacity: 0;}
}
@keyframes colourChange{
    0%{background-color: red;}
    20%{background-color: hsl(26, 100%, 50%);}
    40%{background-color: hsl(50, 100%, 50%);}
    60%{background-color: rgb(94, 255, 0);}
    80%{background-color: rgb(0, 153, 255);}
    100%{background-color: rgb(195, 0, 255);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow;}
}