#box1{
    width: 200px;
    height: 200px;
    background-color: blue;
    /*relative - positioned relaitve to where it normally is
    position: relative;
    top: 100px;
    left: 100px; */
    /* fixed - postitioned relative to the viewport, does not move and stays on top.
    position: fixed;
    right: 0px;
    bottom: 0px; */
    position: fixed;
    left: 200px;
    top: 100px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    /*absolute- positioned relative to nearest ancestor */
    position: absolute;
    top: 50px;
    left: 50px;
}
#box3{
    width: 100px;
    height: 100px;
    background-color: green;
    /*sticky - positioned based on scroll position (has to have position vectors) */
    position: sticky;
    top: 0px;
}
/*static - default position - does not move */