.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
}
.pagination a.active{
    background-color: green;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: grey;
    border-radius: 5px;
}

.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: red;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    background-color: hsl(0, 6%, 94%);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 5px 5px;
    display: none;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 69%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 83%);

}