*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: lightskyblue;
    text-align: center;
    padding: 25px;
}
.navbar{
    background-color: darkblue;
    height: 50px;
}
aside{
    width: 30%;
    float: left;
    padding: 25px;
}
section{
    width: 30%;
    float: left;
    padding: 25px;
}
article{
    width: 40%;
    float: left;
    padding: 25px;
}
footer{
    background-color: blueviolet;
    text-align: center;
    padding: 50px;
    clear: both;
}
@media screen and (max-width:600px) {
    aside,section,article{
        width: 100%;
    }
}