body{
    margin: 0px;
}
@font-face{
    src:url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-family: Robot-Variable-Font;
}
body{
    background-color: black;
}
h1{
    font-family: Roboto-Variable-Font,verdana, arial;
    color:white;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
}
#pr{
    font-family: "lucida console", "courier new";
    font-size: 0.8em;
}
.odd{
    color: hsl(0, 100%, 50%);
    font-style: italic;
}
.even{
    color: #dbb108;
}

header{
    display: block;
    padding-top: 2px;
    height: 86px;
}
.navbar{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin: 0;
    transform: translateY(-6px);
}
.navbar a{
    text-decoration: none;
    width: 40px;
    height: 20px;
}
.navbar #click{
    background-color: purple;
    padding: 5px;
    color: yellow;
}
.navbar #lyrics{
    background-color: rgb(0, 128, 49);
    padding: 5px;
    color: rgb(0, 64, 255);
}
.navbar #mail{
    background-color: rgb(253, 233, 12);
    padding: 5px;
    color: rgb(255, 30, 0);
}
.navbar #form{
    background-color: rgb(12, 253, 28);
    padding: 5px;
    color: rgb(16, 16, 16);
}
.navbar #formatting{
    background-color: rgb(165, 98, 86);
    padding: 5px;
    color: rgb(106, 16, 79);
}
.navbar .selector{
    display: inline-block;
    width: 100px;
}
.navbar .selector #button{
    background-color: blue;
    color: orange;
    padding: 5px;
    border: none;
    width: 80px;
}
.navbar .selector .dropdown-menu{
    display: none;
    position: absolute;
    background-color: blueviolet;
}
.navbar .selector:hover .dropdown-menu{
    display: block;
    padding: 5px;
    width: 80px;
}   
